@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #171717;
	--color-secondary: #d1cdc2;
	--color-accent: #ffe5b4;
	--color-tertiary: #f4f4f4;
	--color-background: #ffff;
	--color-text: #333;
	--color-text-light: #777;
	--color-border: #ddd;

	/* Alert colors */
	--color-success: #2ecc71;
	--color-warning: #f39c12;
	--color-error: #e74c3c;
}

@font-face {
	font-family: 'Just Sans';
	src: url('/fonts/JUST Sans Bold.woff');
}
@font-face {
	font-family: 'Just Sans Medium';
	src: url('/fonts/JUST Sans Medium.woff');
}

@font-face {
	font-family: 'grillagesbold';
	src: url('/fonts/grillagesbold-webfont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Orlean';
	src: url('/fonts/Orlean-SemiBold.woff');
}

body {
	font-family: 'DM Sans Variable', sans-serif;
	@apply grid bg-background bg-repeat h-full  text-[#171717];
	font-weight: normal;
	line-height: 1.6;
}

body {
	scrollbar-width: none; /* For Firefox */
	-ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
	display: none; /* For Chrome, Safari, and WebKit-based browsers */
}

h1 {
	font-family: 'grillagesbold', sans-serif;
	font-size: 3rem;
	/* 48px */
	margin-bottom: 1.25rem;
	/* 20px */
	line-height: 1.2;
}

p {
	font-size: 1rem;
	/* 18px */
}

h2 {
	font-family: 'Just Sans', sans-serif;
}

h3,
h4 {
	font-family: 'Just Sans Medium', sans-serif;
}

h5 {
	font-family: sans-serif;
}

h4 {
	font-size: 1.5rem;
	/* 24px */
}

.glass-container {
	position: relative;
}

.glass-container::before {
	@apply absolute -inset-[10px] -z-10 rounded-xl border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
	content: '';
}

.signal-line {
	--rotation: 0deg;
	@apply h-[40px] w-[1.5px] bg-gradient-to-t md:h-[7.5px] md:w-[30px] lg:w-[40px] xl:w-[50px];
	background-color: hsla(0, 100%, 40%, 0.1);
	background-image: linear-gradient(
		var(--rotation),
		rgba(255, 255, 255, 0) 50%,
		#51e5f9 50%,
		rgba(255, 255, 255, 0) 70%
	);
	background-size: 500% 500%;
}

@media (max-width: 767px) {
	.signal-line {
		--rotation: 0deg;
	}
}

.top {
	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2rem), 50% 100%, 0 calc(100% - 2rem));
}

.bottom {
	clip-path: polygon(0 0, 50% 2rem, 100% 0, 100% 100%, 0 100%);
	margin-top: 0rem;
}

.anchor-link-white {
	padding-top: 1.5rem;
	padding-bottom: 1.0rem;
	position: relative;
}

.anchor-link-white::after {
	content: '';
	position: absolute;
	height: 4px;
	left: 0;
	bottom: 0rem;
	width: 100%;
	background: var(--color-background);
	transform: scaleX(0);
	transition: transform 200ms ease;
}

.anchor-link-white:hover::after {
	transform: scaleX(1);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
.load {
	width: 20px;
	height: 20px;
	margin: auto 0;
	border: solid 0.2rem #a096a3;
	border-radius: 50%;
	border-bottom-color: transparent;
	-webkit-transition: all 0.5s ease-in;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	transition: all 0.5s ease-in;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.svg-icon {
	@apply scale-75 transition-transform lg:scale-100;
}

.svg-icon:hover path {
	@apply fill-orange-700;
	transition-duration: 200ms;
}

.input-group {
	@apply focus:ring-0 border-b-2 autofill:bg-transparent focus-within:bg-transparent border-brand bg-transparent focus:border-brand border-0 text-inherit focus:bg-transparent  p-2 rounded-sm;
}
